<html ng-app="myModule">

  <body ng-controller="usersController">
  <div class="container">
  <form class="form-inline" >
  <div class="col-sm-4">
    <label  class="active">Select Month</label>
    <select name="month"  class="form-control"  id="select" ng-model=" selectedMonth" 
      ng-options="item for item in monthNames">
      <option value="" disabled selected>Choose your option</option>
      </select>
  </div>
 
  <!-- 
  <div class="col-sm-3">
    <label  class="active">Select Month</label>
    <select class="form-control" id="exampleSelect1">
     <option value="" disabled selected>Choose your option</option>
      <option>First Week</option>
      <option>Second Week</option>
      <option>Third Week</option>
      <option>Fourth Week</option>
    </select>
  </div> -->
  <div class="col-sm-4">
    <label  class="active">Select Quarterly</label>
    <select class="form-control" id="exampleSelect1">
    <option value="" disabled selected>Choose your option</option>
      <option>First Quarter</option>
      <option>Second Quarter</option>
      <option>Third Quarter</option>
      <option>Fourth Quarter</option>
    </select>
  </div>
    <div ng-click="fun(example14model)" ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings"></div> <pre>Selected Model: {{example14model}} | json</pre>
   <div class="col-sm-4">
      <label for="email">Select Campus:</label>
     <select name="multipleSelect" style="width: 142px;" id="multipleSelect" ng-model=" selectedCampus" multiple
      ng-options="item for item in campusNames" ng-change="getStudentDetails(selectedCampus)"></select>
    </div>
  </div>
  <br>
   <!-- <div class="form-group">
      <label for="email">Select Campus:</label>
     <select name="multipleSelect" style="width: 142px;" id="multipleSelect" ng-model=" selectedCampus" multiple
      ng-options="item for item in campusNames" ng-click="getStudentDetails(selectedCampus)"></select>
    </div> -->
    <!-- <div class="form-group">
      <label for="pwd">Subjects:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Subject" name="pwd">
    </div> -->
   <!--  <button type="submit" ng-click="getStudentDetails(selectedCampus)" class="btn btn-primary">Submit</button> -->
  </form>
</div>
  
    <!-- <div class="form-group">
      <label for="sel">Select Campus</label>
      <select name="multipleSelect" style="width: 142px;" id="multipleSelect" ng-model=" selectedCampus" multiple
      ng-options="item for item in campusNames"></select>
    </div>
     <button type="submit" ng-click="getStudentDetails(selectedCampus)" class="btn btn-primary">Submit</button> -->
   
    <div id="container" ng-show="disableStdChart"></div>
</form>
</div>
  </body>

</html>
