<html ng-app="myModule">

  <body ng-controller="usersController">
  <div class="container">
  <form class="form-inline" >
  <div class="col-sm-4" style="padding-left: 134px;">
   <div class="col">
      <div class="btn-group">
         <button type="button" class="btn btn-default" ng-click="changeValue(active, dateObj,'prev');">Previous </button>
         <button type="button" class="btn btn-default" ng-click="changeValue(active, dateObj,'next');">Next</button>
      </div>
   </div>
   <div class="col">
      <h4>{{displayValue}}</h4>
   </div>
   <div class="col">
      <div class="btn-group">
          <button type="button" class="btn btn-default" ng-class="{'btn-primary': active=='DAY'}" ng-click="setActiveType('DAY', dateObj)">Day</button>
          <button type="button" class="btn btn-default" ng-class="{'btn-primary': active=='WEEK'}" ng-click="setActiveType('WEEK', dateObj)">Week</button>
          <button type="button" class="btn btn-default" ng-class="{'btn-primary': active=='MONTH'}" ng-click="setActiveType('MONTH', dateObj)">Month</button>
          <button type="button" class="btn btn-default" ng-class="{'btn-primary': active=='YEAR'}" ng-click="setActiveType('YEAR', dateObj)">Year</button>
      </div>
    </div>
 </div>
 
  <!-- 
  <div class="col-sm-3">
    <label  class="active">Select Month</label>
    <select class="form-control" id="exampleSelect1">
     <option value="" disabled selected>Choose your option</option>
      <option>First Week</option>
      <option>Second Week</option>
      <option>Third Week</option>
      <option>Fourth Week</option>
    </select>
  </div> -->
  <div class="col-sm-4">
    <label  class="active">Select Quarterly</label>
    <select class="form-control" id="exampleSelect1">
    <option value="" disabled selected>Choose your option</option>
      <option>First Quarter</option>
      <option>Second Quarter</option>
      <option>Third Quarter</option>
      <option>Fourth Quarter</option>
    </select>
  </div>
   <div class="col-sm-4">
      <label for="email">Select Campus:</label>
     <select name="multipleSelect" style="width: 142px;" id="multipleSelect" ng-model=" selectedCampus" multiple
      ng-options="item for item in campusNames" ng-change="getStudentDetails(selectedCampus)"></select>
    </div>
  </div>
  <br>
   <!-- <div class="form-group">
      <label for="email">Select Campus:</label>
     <select name="multipleSelect" style="width: 142px;" id="multipleSelect" ng-model=" selectedCampus" multiple
      ng-options="item for item in campusNames" ng-click="getStudentDetails(selectedCampus)"></select>
    </div> -->
    <!-- <div class="form-group">
      <label for="pwd">Subjects:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Subject" name="pwd">
    </div> -->
   <!--  <button type="submit" ng-click="getStudentDetails(selectedCampus)" class="btn btn-primary">Submit</button> -->
  </form>
</div>
  
    <!-- <div class="form-group">
      <label for="sel">Select Campus</label>
      <select name="multipleSelect" style="width: 142px;" id="multipleSelect" ng-model=" selectedCampus" multiple
      ng-options="item for item in campusNames"></select>
    </div>
     <button type="submit" ng-click="getStudentDetails(selectedCampus)" class="btn btn-primary">Submit</button> -->
   
    <div id="container" ng-show="disableStdChart"></div>
</form>
</div>
  </body>

</html>
